/* Base Styles */

* {
	box-sizing: border-box;
}

body {
		background-color: white;
	}

h1 {
		margin: 100px;
		text-align: center;
		font-family: Helvetica;
		font-weight: bold;
		font-size: 175%;
	}

.title {
  float: right;
  border: 1px solid black;
  font-weight: bold;
  width: 150px;
  text-align: center;
  padding: 10px;
  font-size: 125%;
  margin: 0px;
}

#chicken {
  background-color: #ffb3b3;
}

#beef {
  background-color: red;
  color: white;
}

#sushi {
  background-color: #ffff99;
}

div {
		position: relative;
		padding: 10px;
		width: 100%;
	}

section{
  position: relative;
  margin: 10px;
  background: gray;
  border: 1px solid black;
  }

.description {
  position: relative;
  clear: both;
  margin: 0;
  padding: 20px 10px 5px 10px;
}

/*desktop version*/
	@media (min-width: 992px){
		.col-lg-4 {
			float: left;
			width: 33.33%;
		}
	}
	/*tablet version*/
	@media (min-width: 768px) and (max-width: 991px){
		.col-md-6 {
			float: left;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
		.col-md-12 {
			float: left;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}
	/*mobile version*/
	@media (max-width: 767px){
		.col-sm-12 {
			float: left;
			width: 100%;
		}
	}
